.content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

main {
    flex: 1;
    height: 9000px;
    margin-left: 235px;
    margin-top: 16px;
}
main .main {
    display: flex;
    justify-content: center;
}
.main .main-page {
    width: 630px;
    height: 100%;
}


/* 스토리 */
.main-page .story-box {
    width: 630px;
    height: 101px;
    padding: 8px 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    background-color: grey;
    align-items: center;
}

.main-page .story-box .story-wrap {
    width: 64px;
    height: 86px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page .story-box .story-wrap .story{
    width: 64px;
    height: 64px;
    background-color: red;
    border-radius: 50%;
}


/* 포스트라인 */

.main-page .post-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page .post-box .post-wrap {
    width: 470px;
    padding-bottom: 16px;
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(219, 219, 219);
    
}
/* 컨텐츠 헤더 */
.main-page .post-box .post-wrap .content-header {
    height: 33px;
    padding: 0 0 12px 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
}
.main-page .post-box .post-wrap .content-header .photo {
    width: 30px;
    /* height: 100%; */
}
.main-page .post-box .post-wrap .content-header .material-symbols-outlined{
    font-size: 26px;
}

.main-page .post-box .post-wrap .content-header .name {
    padding-left: 3px;
    flex-grow: 1;
}
.main-page .post-box .post-wrap .content-header .more:hover {
    cursor: pointer;
}

/* 컨텐츠 바디 */

.content-body {
    height: 547px;
    border: 2px solid rgb(219, 219, 219);
}

.content-body .body-wrap{
    height: 100%;
    
    
}
.content-body .body-wrap .content-list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body .body-wrap .content-list .content{
}

.content-body .body-wrap .content-list .content img{
    width: 100%;
}

/* 컨텐츠 푸터 */
.main-page .post-box .post-wrap .content-footer {
    height: 118px;
}

.main .recommend {
    padding-left: 64px;
    width: 319px;
}