.nav {
  max-width: 330px;
  height: 100vh;
  padding: 7px;
  border-right: 1px solid black;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}
.nav-list {
  flex-grow: 1;
}
.nav .logo {
  width: 220px;
  padding: 25px 12px 16px 12px;
  margin-bottom: 19px;
  box-sizing: border-box;
  cursor: pointer;
}
.nav .logo img{
  width: 78%;
  height: 100%;
}

.nav-item {
  width: 220px;
  padding: 12px;
  height: 56px;
  margin: 4px 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.nav-item:hover{
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}

.nav-item:hover span{
  transform: scale(1.23) translateY(2%);
  transition-duration: 0.07s;
}

.nav-item .symbol span {
  font-size: 30px;
  box-sizing: border-box;
}

.nav-item .nav-name {
  display: inline-block;
  padding-left: 16px;
  font-size: 16px;
  /* height: 100%; */
}

.etc {
  justify-content: flex-end;
  /* direction: ltr; */
  line-height: 18px;
  width: 220px;
}
